---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Om Astro">
    <h1>Om denne workshoppen</h1>
    <p>Denne siden handler om workshopen.</p>
    <!-- (Enkel kontaktform kommer i oppgave 5) -->
</BaseLayout>