---
import ReactCounter from '../components/ReactCounter';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h1>Astro + Unpoly = ❤️</h1>
	<ReactCounter  client:load />
</BaseLayout>
