---
import type { Employee } from "../pages/api/ansatte/_db";

const { employee } = Astro.props as { employee: Employee};
---

<div class="kls-card">
    <h2><a href={`/ansatte/${employee.id}`} up-layer="new">{employee.name}</a> </h2>
    <p><strong>Stilling:</strong> {employee.position}</p>
    <p><strong>E-post:</strong> {employee.email}</p>
</div>