<nav>
    <ul>
        <li><a up-follow href="/">Hjem</a></li>
        <li><a up-follow href="/eksempler/teller">Eksempler</a></li>
        <li><a up-follow href="/ansatte">Ansatte</a></li>
    </ul>
</nav>