---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { fetchEmployeeById } from "../../utils/employee-service";

const { id } = Astro.params;
if (!id) {
    throw new Error("ID is required");
}
const employee = await fetchEmployeeById(Number(id));
---

<BaseLayout>
    <h1>{employee.name}</h1>
    <p><strong>Stilling:</strong> {employee.position}</p>
    <p><strong>E-post:</strong> {employee.email}</p >
</BaseLayout>