---
import Menu from '../components/Menu.astro';
import '../styles/global.css';

const { title = "Astro + Unpoly workshop" } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Menu/>
		<main up-main>
			<slot />
		</main>
	</body>
</html>

<style>
	main {
		margin: 1rem
	}
</style>

<!-- <script>
	import '../utils/unpoly-setup';
</script> -->

